.carousel-img {
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-block-w-100{
    object-fit: cover;
    width: 1000px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bannerImage {
    object-fit: cover;
    width: 1000px;
    height: 400px;


}

.product-group-title {
    font-size: 40px;
    padding: 20px;
    text-align: center;
    color: darkred;
}

.banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
